myenv/
myvenv/
venv/
venv/*
team12Hackathon-dispatcher/__pycache__/
team12Hackathon-dispatcher/__pycache__/*
team12Hackathon-dispatcher/.idea/
team12Hackathon-dispatcher/.idea/*

team12Hackathon_webapp/Hackathon_app/__pycache__/

*.pyc

team12Hackathon_webapp/configuration.env
