{% extends 'base.html' %}
{% load static %}

{% block title %} Coin e premi {% endblock %}

{% block title_1 %} Coin e premi {% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h3>Le tue buone azioni sono preziose</h3>
    </div>
    <div class="w-100"></div>
    <div class="col">
      <span style="font-size:120%;"><p>Scopri cosa puoi ottenere con i tuoi coin e quanti coin
        <br>
      ti mancano per il tuo premio preferito!</p></span>

    </div>
  </div>
</div>
<br>









<div class="container">
  <div class="row row-cols-2">
    <div class="col md-6">
      <span style="font-size: 1.4em; font-weight: bold">Puoi richiedere subito<span>
   </div>
 </div>
  <div class="row row-cols-1 row-cols-md-3">

    <div class="col-4">
      <div class="card custom_card_radius custom-card-image w-75">
              <img class="#" src="{% static '/svg/icon-star-preferiti.svg'%}" alt="" style="position: absolute; margin: 5% 0 0 5%;">
              <span style="position: absolute; margin: 5% 0 0 70%; color:white;">250</span>
                <img class="card-title" src="{% static '/svg/icon-coin.svg'%}" alt="" style="position: absolute; margin: 5% 0 0 84%;">
         <img class="card-img" src="{% static '/svg/item-premio-1.jpg'%}" alt="Bologna">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
          <h4 class="card-title">Sconto -15%</h4>
          <h6 class="card-subtitle mb-2">Degustazione <br> per due</h6>
          <p class="card-text">Villa Oreste-Soave</p>
          <div class="link d-flex">
            <a href="#" class="card-link text-warning">Read More</a>
            <a href="#" class="card-link text-warning">Book a Trip</a>
          </div>
        </div>
      </div>
    </div>




    <div class="col-4">
      <div class="card custom_card_radius custom-card-image w-75">
              <img class="#" src="{% static '/svg/icon-star-preferiti.svg'%}" alt="" style="position: absolute; margin: 5% 0 0 5%;">
              <span style="position: absolute; margin: 5% 0 0 70%; color:white;">550</span>
                <img class="card-title" src="{% static '/svg/icon-coin.svg'%}" alt="" style="position: absolute; margin: 5% 0 0 84%;">
         <img class="card-img" src="{% static '/svg/item-premio-2.jpg'%}" alt="Bologna">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
          <h4 class="card-title">  Promo 2x1</h4>
          <h6 class="card-subtitle mb-2">  Coccole e relax <br> per due persone</h6>
          <p class="card-text">Spa Wellness - Merano</p>
          <div class="link d-flex">
            <a href="#" class="card-link text-warning">Read More</a>
            <a href="#" class="card-link text-warning">Book a Trip</a>
          </div>
        </div>
      </div>
    </div>



    <div class="col-4">
      <div class="card custom_card_radius custom-card-image w-75">
              <img class="#" src="{% static '/svg/icon-star-preferiti.svg'%}" alt="" style="position: absolute; margin: 5% 0 0 5%;">
              <span style="position: absolute; margin: 5% 0 0 70%; color:white;">150</span>
                <img class="card-title" src="{% static '/svg/icon-coin.svg'%}" alt="" style="position: absolute; margin: 5% 0 0 84%;">
         <img class="card-img" src="{% static '/svg/item-premio-3.jpg'%}" alt="Bologna">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
          <h4 class="card-title">Sconto -15%</h4>
          <h6 class="card-subtitle mb-2">Sport in casa <br>facile e comodo</h6>
          <p class="card-text">Decathlon.com</p>
          <div class="link d-flex">
            <a href="#" class="card-link text-warning">Read More</a>
            <a href="#" class="card-link text-warning">Book a Trip</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>








<div class="container">
  <div class="row row-cols-2">
    <div class="col md-6">
      <span style="font-size: 1.4em; font-weight: bold">Ti manca poco<span>
   </div>
 </div>
  <div class="row row-cols-1 row-cols-md-3">




    <div class="col-4">
      <div class="card custom_card_radius custom-card-image w-75">
              <img class="#" src="{% static '/svg/icon-star-preferiti.svg'%}" alt="" style="position: absolute; margin: 5% 0 0 5%;">
              <span style="position: absolute; margin: 5% 0 0 70%; color:white;">2.200</span>
                <img class="card-title" src="{% static '/svg/icon-coin.svg'%}" alt="" style="position: absolute; margin: 5% 0 0 84%;">
         <img class="card-img" src="{% static '/svg/item-premio-4.jpg'%}" alt="Bologna">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
          <h4 class="card-title">Sconto -30%</h4>
          <h6 class="card-subtitle mb-2">Weekend <br>Romano</h6>
          <p class="card-text">3 notti, Hotel 4 stelle</p>
          <div class="link d-flex">
            <a href="#" class="card-link text-warning">Read More</a>
            <a href="#" class="card-link text-warning">Book a Trip</a>
          </div>
        </div>
      </div>
    </div>



    <div class="col-4">
      <div class="card custom_card_radius custom-card-image w-75">
              <img class="#" src="{% static '/svg/icon-star-preferiti.svg'%}" alt="" style="position: absolute; margin: 5% 0 0 5%;">
              <span style="position: absolute; margin: 5% 0 0 70%; color:white;">3.500</span>
                <img class="card-title" src="{% static '/svg/icon-coin.svg'%}" alt="" style="position: absolute; margin: 5% 0 0 84%;">
         <img class="card-img" src="{% static '/svg/item-premio-5.jpg'%}"  alt="Bologna">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
          <h4 class="card-title">Sconto -15%</h4>
          <h6 class="card-subtitle mb-2">Samsung <br> galaxy S20</h6>
          <p class="card-text">Mediaworld.com</p>
          <div class="link d-flex">
            <a href="#" class="card-link text-warning">Read More</a>
            <a href="#" class="card-link text-warning">Book a Trip</a>
          </div>
        </div>
      </div>
    </div>





    <div class="col-4">
      <div class="card custom_card_radius custom-card-image w-75">
              <img class="#" src="{% static '/svg/icon-star-preferiti.svg'%}" alt="" style="position: absolute; margin: 5% 0 0 5%;">
              <span style="position: absolute; margin: 5% 0 0 70%; color:white;">25</span>
                <img class="card-title" src="{% static '/svg/icon-coin.svg'%}" alt="" style="position: absolute; margin: 5% 0 0 84%;">
         <img class="card-img" src="{% static '/svg/item-premio-6.jpg'%}" alt="Bologna">
        <div class="card-img-overlay text-white d-flex flex-column justify-content-center">
          <h4 class="card-title">Sconto -15%</h4>
          <h6 class="card-subtitle mb-2">Cena a lume <br>di candela per due</h6>
          <p class="card-text">Villa Simeoni - Firenze</p>
          <div class="link d-flex">
            <a href="#" class="card-link text-warning">Read More</a>
            <a href="#" class="card-link text-warning">Book a Trip</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



{% endblock %}
