{% extends 'base.html' %}
{% load static %}

{% block title %} Missions {% endblock %}

{% block title_1 %} Owerview {% endblock %}

 {% block content %}


<div class="container-fluid background_color">
<div class="container">
  <div class="row">
    <div class="col-sm-1" >
    <img src="{% static '/svg/avatar123.svg' %}" class="rounded-circle" alt="..." width="70" height="70">

  </div>
    <div class="col-sm-5" >
      <h3>Benvenuta Sara, <span style="font-size:60%;"><p>Attiva le tue missioni preferite e scala la classifica.
        <br>
      Più coin raccogli e più premi ottieni!</p></span>
    </h3>
      </div>
  <div class="col-sm-1" style="margin: 0 0 0 25%;" >
    <span style="font-size:150%;" ><p><strong>6.242</strong>
      <br>
    iscritti</p> </span>
  </div>


    <div class="col-sm-1" >
      <span style="font-size:150%;"><p><strong>6.242</strong>
        <br>
      iscritti</p> </span>
    </div>


      <div class="col-sm-1" >
        <span style="font-size:150%;"><p><strong>6.242</strong>
          <br>
        iscritti</p> </span>
      </div>

  </div>

</div>

 <br>

 <div class="container">
   <div class="row row-cols-2">
     <div class="col md-6">
       <span style="font-size: 1.4em; font-weight: bold">Le tue missioni<span>
    </div>
  </div>
 <div class="row row-cols-2">



 <div class="col mb-2">
  <div class="card mb-3 custom_color_card custom_container custom_card_radius" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-3">
        <img src="{% static '/svg/icon-mission-1.svg' %}"  alt="..."  class="center_image" width="70" height="70">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Energia</h5>
          <p class="card-text">Per 5 giorni, ogni sera spegni tutti i device collegati alla corrente.</p>
          <p class="card-text"><small class="text-muted">Questa missione scade tra 13 giorni</small></p>
        </div>
      </div>
      <div class="col-md-3">
      <img src="{% static '/svg/counter-mission-1.svg' %}" class="center_image" alt="..." width="70" height="70">
    </div>
    </div>
  </div>
    </div>

    <div class="col mb-2">
      <div class="card mb-3 custom_color_card custom_container custom_card_radius" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img src="{% static '/svg/icon-mission-2.svg' %}"  alt="..."  class="center_image" width="70" height="70">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">LOCAL</h5>
              <p class="card-text">Acquista da 3 negozi locali, prodotti a km zero</p>
              <p class="card-text"><small class="text-muted">Questa missione scade tra 21 giorni</small></p>
            </div>
          </div>
          <div class="col-md-3">
          <img src="{% static '/svg/counter-mission-2.svg' %}" class="center_image" alt="..." width="70" height="70">
        </div>
        </div>
      </div>

        </div>





        <div class="col mb-2">
          <div class="card mb-3 custom_color_card custom_container custom_card_radius" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-3">
                <img src="{% static '/svg/icon-mission-3.svg' %}"  alt="..."  class="center_image" width="70" height="70">
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title">TRASPORTI</h5>
                  <p class="card-text">Utilizza la bicicletta per almeno 3 spostamenti questo mese</p>
                  <p class="card-text"><small class="text-muted">Questa missione scade tra 31 giorni</small></p>
                </div>
              </div>
              <div class="col-md-3">
              <img src="{% static '/svg/counter-mission-3.svg' %}" class="center_image" alt="..." width="70" height="70">
            </div>
            </div>
          </div>

            </div>



            <div class="col mb-2">
              <div class="card mb-3 custom_color_card custom_container custom_card_radius" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-3">
                    <img src="{% static '/svg/icon-mission-4.svg' %}"  alt="..."  class="center_image" width="70" height="70">
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title">PLASTICA</h5>
                      <p class="card-text">Porta in un cestino di raccolta BBetter 5 contenitori di plastica</p>
                      <p class="card-text"><small class="text-muted">Questa missione scade tra 7 giorni</small></p>
                    </div>
                  </div>
                  <div class="col-md-3">
                  <img src="{% static '/svg/counter-mission-4.svg' %}" class="center_image" alt="..." width="70" height="70">
                </div>
                </div>
              </div>

                </div>


 </div>
 </div>






 <div class="container">
   <div class="row row-cols-2">
     <div class="col md-6">
       <span style="font-size: 1.4em; font-weight: bold">Le tue missioni<span>
    </div>
    <div class="col md-6">
      <span style="font-size: 1.4em; font-weight: bold">Scala la classifica<span>
   </div>
  </div>

 <div class="row row-cols-2">



 <div class="col mb-2">
  <div class="card mb-3 background_card custom_container custom_card_radius h-100 w-100"  >
    <div class="row no-gutters">
      <div class="col-md-1" style="margin: 3% 0 0px 3%;">
        <img src="{% static '/svg/avatar123.svg' %}"  alt="..."  class="#" width="40" height="40">
      </div>
      <div class="col-md-8">
        <div class="card-body" style="margin-top: 2%;padding: 0px; margin-left: 10%;" >
          <span class="card-title"><strong>Marianna Cimoni</strong></span>
          <p class="card-text">Per 5 giorni, ogni sera spegni tutti i device collegati alla corrente.</p>

        </div>
      </div>

      <div class="col-md-1" style="margin: 5% 0 0 10%;">
      <span>1</span>
      <img src="{% static '/svg/icon-coin.svg' %}" class="#" alt="..." width="30" height="30" style="margin-top: 7%;">
    </div>
    </div>
  </div>
    </div>



    <div class="col mb-2">
     <div class="card mb-3 background_card custom_container custom_card_radius h-100 w-100"  >
       <div class="row no-gutters">
         <div class="col-md-2" style="margin: 3% 0 0 3%;">
           <img src="{% static '/svg/avatar123.svg' %}"  alt="..."  class="#" width="40" height="40">
         </div>
         <div class="col-md-8">
           <div class="card-body" style="margin-top: 8%;padding: 0px;" >
             <span class="card-title"><strong> 1°Marianna Cimoni</strong></span>


           </div>
         </div>

         <div class="col-md-1" style="margin: 5% 0 0 0;">
         <span>1</span>
         <img src="{% static '/svg/icon-coin.svg' %}" class="#" alt="..." width="30" height="30" style="margin-top: 7%;">
       </div>
       </div>
     </div>
       </div>





       <div class="col mb-2">
        <div class="card mb-3 background_card custom_container custom_card_radius h-100 w-100"  >
          <div class="row no-gutters">
            <div class="col-md-1" style="margin: 3% 0 0px 3%;">
              <img src="{% static '/svg/avatar123.svg' %}"  alt="..."  class="#" width="40" height="40">
            </div>
            <div class="col-md-8">
              <div class="card-body" style="margin-top: 2%;padding: 0px; margin-left: 10%;" >
                <span class="card-title"><strong>Marianna Cimoni</strong></span>
                <p class="card-text">Per 5 giorni, ogni sera spegni tutti i device collegati alla corrente.</p>

              </div>
            </div>

            <div class="col-md-1" style="margin: 5% 0 0 10%;">
            <span>1</span>
            <img src="{% static '/svg/icon-coin.svg' %}" class="#" alt="..." width="30" height="30" style="margin-top: 7%;">
          </div>
          </div>
        </div>
          </div>




              <div class="col mb-2">
               <div class="card mb-3 background_card custom_container custom_card_radius h-100 w-100"  >
                 <div class="row no-gutters">
                   <div class="col-md-2" style="margin: 3% 0 0 3%;">
                     <img src="{% static '/svg/avatar123.svg' %}"  alt="..."  class="#" width="40" height="40">
                   </div>
                   <div class="col-md-8">
                     <div class="card-body" style="margin-top: 8%;padding: 0px;" >
                       <span class="card-title"><strong> 1°Marianna Cimoni</strong></span>


                     </div>
                   </div>

                   <div class="col-md-1" style="margin: 5% 0 0 0;">
                   <span>1</span>
                   <img src="{% static '/svg/icon-coin.svg' %}" class="#" alt="..." width="30" height="30" style="margin-top: 7%;">
                 </div>
                 </div>
               </div>
                 </div>
 </div>
 </div>



</div>
{% endblock %}
