{% extends 'base.html' %}
{% load static %}

{% block title %} Missions {% endblock %}

{% block title_1 %} Missioni {% endblock %}

 {% block content %}
 <div class="container-fluid">
   <div class="row">
     <div class="col">
       <h3>Le tue missioni di questo mese</h3>
     </div>
     <div class="w-100"></div>
     <div class="col">
       <span style="font-size:120%;"><p>Attiva le tue missioni preferite e scala la classifica.
         <br>
       Più coin raccogli e più premi ottieni!</p></span>

     </div>
   </div>
</div>
<br>

<div class="container">
  <div class="row row-cols-2">
    <div class="col md-6">
      <span style="font-size: 1.4em; font-weight: bold">Le tue missioni<span>
   </div>
 </div>
<div class="row row-cols-2">



<div class="col mb-2">
  <div class="card mb-3 custom_color_card custom_container custom_card_radius" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-3">
        <img src="{% static '/svg/icon-mission-1.svg' %}"  alt="..."  class="center_image" width="70" height="70">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">Energia</h5>
          <p class="card-text">Per 5 giorni, ogni sera spegni tutti i device collegati alla corrente.</p>
          <p class="card-text"><small class="text-muted">Questa missione scade tra 13 giorni</small></p>
        </div>
      </div>
      <div class="col-md-3">
      <img src="{% static '/svg/counter-mission-1.svg' %}" class="center_image" alt="..." width="70" height="70">
    </div>
    </div>
  </div>
    </div>

    <div class="col mb-2">
      <div class="card mb-3 custom_color_card custom_container custom_card_radius" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img src="{% static '/svg/icon-mission-2.svg' %}"  alt="..."  class="center_image" width="70" height="70">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">LOCAL</h5>
              <p class="card-text">Acquista da 3 negozi locali, prodotti a km zero</p>
              <p class="card-text"><small class="text-muted">Questa missione scade tra 21 giorni</small></p>
            </div>
          </div>
          <div class="col-md-3">
          <img src="{% static '/svg/counter-mission-2.svg' %}" class="center_image" alt="..." width="70" height="70">
        </div>
        </div>
      </div>

        </div>





        <div class="col mb-2">
          <div class="card mb-3 custom_color_card custom_container custom_card_radius" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-3">
                <img src="{% static '/svg/icon-mission-3.svg' %}"  alt="..."  class="center_image" width="70" height="70">
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title">TRASPORTI</h5>
                  <p class="card-text">Utilizza la bicicletta per almeno 3 spostamenti questo mese</p>
                  <p class="card-text"><small class="text-muted">Questa missione scade tra 31 giorni</small></p>
                </div>
              </div>
              <div class="col-md-3">
              <img src="{% static '/svg/counter-mission-3.svg' %}" class="center_image" alt="..." width="70" height="70">
            </div>
            </div>
          </div>

            </div>



            <div class="col mb-2">
              <div class="card mb-3 custom_color_card custom_container custom_card_radius" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-3">
                    <img src="{% static '/svg/icon-mission-4.svg' %}"  alt="..."  class="center_image" width="70" height="70">
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title">PLASTICA</h5>
                      <p class="card-text">Porta in un cestino di raccolta BBetter 5 contenitori di plastica</p>
                      <p class="card-text"><small class="text-muted">Questa missione scade tra 7 giorni</small></p>
                    </div>
                  </div>
                  <div class="col-md-3">
                  <img src="{% static '/svg/counter-mission-4.svg' %}" class="center_image" alt="..." width="70" height="70">
                </div>
                </div>
              </div>

                </div>




</div>
</div>
<br>
<br>


<div class="container">
  <div class="row row-cols-2">
    <div class="col md-6">
      <span style="font-size: 1.4em; font-weight: bold">Accetta nuove missioni<span>
   </div>
 </div>
<div class="row row-cols-2">



<div class="col mb-2">
  <div class="card mb-3 custom_color custom_container custom_card_radius" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-3">
        <img src="{% static '/svg/icon-water.svg' %}"  alt="..."  class="center_image" width="70" height="70">
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">ACQUA</h5>
          <p class="card-text">L’acqua è un bene comune.  Per 7 giorni consuma meno di 200 litri di acqua</p>

        </div>
      </div>
      <div class="col-md-3">

      <img src="{% static '/svg/lock.svg' %}" class="center_image" alt="..." width="60" height="60">
    </div>
    </div>
  </div>
    </div>

    <div class="col mb-2">
      <div class="card mb-3 custom_color custom_container custom_card_radius" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-3">
            <img src="{% static '/svg/icon-park.svg' %}"  alt="..."  class="center_image" width="70" height="70">
          </div>
          <div class="col-md-6">
            <div class="card-body">
              <h5 class="card-title">PARCO</h5>
              <p class="card-text">Hai un parco vicino casa? <br> Esci e fai almeno due belle camminate</p>

            </div>
          </div>
          <div class="col-md-3">
          <img src="{% static '/svg/lock.svg' %}" class="center_image" alt="..." width="60" height="60">
        </div>
        </div>
      </div>

        </div>





        <div class="col mb-2">
          <div class="card mb-3 custom_color custom_container custom_card_radius" style="max-width: 540px;">
            <div class="row no-gutters">
              <div class="col-md-3">
                <img src="{% static '/svg/icon-clean.svg' %}"  alt="..."  class="center_image" width="70" height="70">
              </div>
              <div class="col-md-6">
                <div class="card-body">
                  <h5 class="card-title">SPAZI COMUNI</h5>
                  <p class="card-text">Sacchetto e guanti! Contribuisci a ripulire gli spazi comuni vicino a te</p>
                </div>
              </div>
              <div class="col-md-3">
              <img src="{% static '/svg/lock.svg' %}" class="center_image" alt="..." width="60" height="60">
            </div>
            </div>
          </div>

            </div>



            <div class="col mb-2">
              <div class="card mb-3 custom_color custom_container custom_card_radius" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-3">
                    <img src="{% static '/svg/icon-covid.svg' %}"  alt="..."  class="center_image" width="70" height="70">
                  </div>
                  <div class="col-md-6">
                    <div class="card-body">
                      <h5 class="card-title">AGGREGAMENTI</h5>
                      <p class="card-text">Tutela te stesso e gli altri. Evita almeno per 7 giorni posti affollati</p>
                    </div>
                  </div>
                  <div class="col-md-3">
                  <img src="{% static '/svg/lock.svg' %}" class="center_image" alt="..." width="60" height="60">
                </div>
                </div>
              </div>

                </div>





                <!-- <div class="container">
                  <h3>ciao</h3>
                  <div class="row">
                    {% for m in missions %}
                    <div class="col">
                      <div class="col mb-2">
                        <div class="card mb-3 custom_container rcorners3 " style="max-width: 540px;">
                        <div class="row no-gutters" style="height: 11vh;">
                        <div class="col-md-8">
                          <div class="card-body">
                            <h5 class="card-title">{{m.Description}}</h5>
                            <p class="card-text">This is a wider</p>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <img src="{% static '/svg/Xapa-Relleu.svg' %}" class="card-img fit_image" alt="...">
                        </div>
                        </div>
                        </div>
                      </div>
                        </div>
                    {% if  forloop.counter  == 2 %}
                    <div class="w-100"></div>
                    {% elif  forloop.counter  == 4 %}
                      <div class="w-100"></div>
                    {% endif %}
                    {% endfor %}
                  </div>
                </div> -->

</div>
</div>










 {% endblock %}
